<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Asistencia UP</h1>
            <h3 class="mb-5">
                <em>¡Crea listas de asistencias y registra alumnmos para tus clases!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Iniciemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>